/* global style */
* {
    margin: 0;
    box-sizing: border-box;
}

body {
    min-width: 960px;
    background: #f9f9f9;
}

/* common style */

header,
.banner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.banner-left,
.banner-right {
    flex: 0 1 720px;
    width: 720px;
    height: 260px;
    background-size: 720px 260px;
}

/* header-part */

header {
    height: 80px;
    background-color: #000;
}

.logo {
    height: 50px;
    margin-right: 160px;
}

.nav {
    display: flex;
    flex-direction: row;
    list-style: none;
    color: #fff;
}

.nav-item {
    display: inline-block;
    width: 150px;
    margin-right: 40px;
    text-align: right;
}

.nav-item:last-child {
    margin-right: 0;
}

.main-index {
    padding-right: 30px;
    background: url(./static/arrow.png) no-repeat right;
}

.sub-nav {
    display: none;
    position: absolute;
    width: 150px;
    padding-top: 15px;
    padding-right: 10px;
    line-height: 40px;
    background-color: #6e6e6e;
    list-style: none;
    text-align: right;
}

.nav-item:hover .main-index {
    background-color: #6e6e6e;
}

.nav-item:hover .sub-nav {
    display: block;
}

.nav-item {
    margin-right: 45px;
    font-size: 16px;
    color: #fff;
}

.nav-item:last-child {
    margin-right: 0;
}

.arrow {
    vertical-align: top;
}

/* banner-part */
.banner {
    background: #2f7079;
}

.banner-left {
    background: url(./static/left.png) no-repeat right;
}

.banner-right {
    background: url(./static/right.png) no-repeat left;
}

.banner-text {
    float: right;
    margin-top: 50px;
    width: 480px;
}

.bt-top {
    font-size: 32px;
    opacity: 0.5;
    color: #fff;
}

.bt-bottom {
    font-size: 44px;
    color: #fff;
}

/* content area */
.content {
    margin: 20px 100px 0 100px;
    font-size: 16px;
}

.anchor {
    position: absolute;
    top: 360px;
    bottom: 10px;
    overflow-y: scroll;
    width: 230px;
    max-height: 1020px;
    padding-top: 20px;
    margin-right: 20px;
    border: 1px solid #e4e4e4;
    background: #eee;
}

.acr-item {
    padding-left: 30px;
    line-height: 40px;
}

.acr-item:hover {
    cursor: pointer;
}

.acr-subitem {
    overflow: hidden;
    opacity: 0;
    height: 0;
    padding-left: 50px;
    line-height: 30px;
    background: #f9f9f9;
    transition: all 0.5s ease;
}

.active .acr-subitem {
    height: 30px;
    opacity: 1;
}

.table {
    margin-left: 250px;
}

.tb-row {
    display: flex;
    flex-direction: row;
    border-left: 1px solid #d0d0d0;
}

.tb-row:first-child {
    border-top: 1px solid #d0d0d0;
}

.tb-row:last-child {
    border-bottom: 1px solid #d0d0d0;
}

.tb-row:nth-of-type(2n+1) {
    background: #eee;
}

.min {
    flex: 1 0 12.5%;
}

.middle {
    flex: 2 0 25%;
}

.max {
    flex: 3 0 37.5%;
}

.tb-cell,
.stk-cell {
    text-align: center;
    line-height: 40px;
    border-right: 1px solid #d0d0d0;
}

.sticky {
    display: flex;
    position: fixed;
    left: 350px;
    right: 100px;
    top: 0px;
    background: #eee;
    border-right: 1px solid #d0d0d0;
}

.stk-cell {
    border-left: 1px solid #d0d0d0;
}

.disappear {
    display: none;
}

.edit-mask,
.delete-mask {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(178, 178, 178, 0.51);
}

.mask-content {
    position: relative;
    padding: 30px;
    width: 300px;
    height: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
}

.mask-btn {
    position: absolute;
    border: 1px solid #eee; /*rewriting standard style, it is necessary to be able to change the size*/
    bottom: 30px;
    margin-left:30px;
    width: 50px;
    height: 30px;
    outline: none;
}

#edit-cancel,
#delete-cancel {
    right: 60px;
}

.mask-btn:hover {
    cursor: pointer;
    background: #79aed0;
}

input[type="text"] {
    float: right;
}

#delete-content{
    color: #b12621;
}


