* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  max-width: 1500px;
  margin: auto; }

header {
  padding: 0 1.5rem;
  line-height: 3rem;
  font-size: 16px;
  background: #000;
  color: #fff; }

nav {
  float: right; }
  nav span {
    margin-right: 0.8rem; }
    nav span:last-child {
      margin-right: 0; }

.banner {
  display: block;
  width: 100%; }

.content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 2rem;
  grid-template-rows: auto 3rem auto;
  grid-template-areas: "card sweep" "card text-only" "img-text text-only";
  margin-top: 1.2rem; }

.card {
  grid-area: card;
  height: 8rem;
  border-bottom: 1px solid #c8c8c8; }
  .card .item {
    float: left;
    position: relative;
    margin-left: 5%;
    width: 30%;
    height: 7rem;
    background: url(../static/img/item.png) 20% no-repeat; }
    .card .item:first-child {
      margin-left: 0; }

.main-intro {
  position: absolute;
  padding-left: 1rem;
  width: 100%;
  background: rgba(75, 74, 74, 0.6);
  color: #fff;
  padding-top: 0.5rem;
  bottom: 1.5rem;
  font-size: 18px; }

.vice-intro {
  position: absolute;
  padding-left: 1rem;
  width: 100%;
  background: rgba(75, 74, 74, 0.6);
  color: #fff;
  bottom: 0;
  padding-bottom: 0.5rem;
  font-size: 15px;
  line-height: 1rem; }

.sweep {
  margin-bottom: 0.7rem;
  padding-top: 1rem;
  padding-left: 2rem;
  height: 5rem;
  grid-area: sweep;
  background: url(../static/img/banner.png) left 20% top 60% no-repeat;
  color: #fff; }
  .sweep .main-title {
    font-size: 18px; }
  .sweep .vice-title {
    font-size: 15px; }

.text-only {
  grid-area: text-only;
  margin-top: 0.7rem; }
  .text-only .item {
    height: 2.3rem; }
  .text-only .main-title {
    white-space: nowrap;
    font-size: 16px; }
  .text-only .vice-title {
    white-space: nowrap;
    font-size: 12px;
    color: #878787; }

.img-text {
  grid-area: img-text; }
  .img-text .item {
    margin-top: 1.5rem;
    overflow: auto; }
  .img-text .img {
    float: left;
    width: 45%;
    height: 9rem;
    background: url(../static/img/item.png) right no-repeat; }
  .img-text .text {
    padding-left: 50%; }
  .img-text .main-title {
    font-size: 18px; }
  .img-text .vice-title {
    font-size: 15px; }

footer {
  margin-top: 1.5rem;
  height: 3rem;
  text-align: center;
  background: grey; }

@media screen and (max-width: 760px) {
  .logo {
    display: block;
    width: 100%;
    text-align: center; }

  nav {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3rem;
    background: #a5a5a5;
    color: #000;
    justify-content: space-around; }

  .content {
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "card" "sweep" "img-text" "text-only"; }

  .img-text .img {
    float: right; }
  .img-text .text {
    padding-right: 50%;
    padding-left: 0; } }

/*# sourceMappingURL=index.css.map */
