* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding:5px;
}

.clearfix {
    content: '';
    display: table;
}

[class*='part-'] {
    padding: 5px;
    border: 3px solid grey;
    background-color: #f0f0f0;
}

.square {
    margin: 5px;
    width: 100px;
    height: 100px;
    background-color: lightgrey;
    border: 2px solid grey;
}

.align-row {
    display: flex;
    flex-direction: row;
}

.flex-start {
    justify-content: flex-start;
}

.flex-end {
    justify-content: flex-end;
}

.grid-row,
.content {
    display: flex;
    flex-direction: row;
}

.grid-item {
    flex: 1 1 auto;
    margin: 5px;
    height: 100px;
    border: 2px solid grey;
    background-color: lightgrey;
}

.header .footer {
    height: 50px;
    margin: 10px 10px 0 10px;
    background-color: lightgrey;
    border: 2px solid grey;
}

.nav, .aside {
    flex: none;
    margin: 5px;
    width: 80px;
    height: 200px;
    background-color: lightgrey;
    border: 2px solid grey;
}

.nav {
    order: -1;
}

.main {
    flex: auto;
    margin: 5px;
    height: 200px;
    background-color: lightgrey;
    border: 2px solid grey;
}

.part-middle,
.part-bottom {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    padding: 5px;
}

img {
    margin-top: 5px;
    margin-right: 10px;
    width: 100px;
    height: 100px;
}

.text {
    margin-top: 5px;
    margin-right: 5px;
    word-break: break-all;
    flex: 1 1 auto;
}

.part-bottom {
    justify-content: space-between;
    padding-top: 10px;
}
